/* SKILLS =================================================== */

  .skills-body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    height: 500px;
    position: relative;
    top: 50px;
    overflow: scroll;
    width: 500px;
    margin: auto;
    border-style: outset;
    display: none;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .skills-head{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: dashed darkturquoise;
  }

  .progress{
    padding-top: 10px;
  }

  .front-end{
    padding-top: 10px;
  }

  .back-end{
    padding-top: 10px;
  }

  #span-prob{
    margin-left: 130px;
    font-weight: bold;
    color: #333333;
  }

  #span-adapt{
    margin-left: 100px;
    font-weight: bold;
    color: #333333;
  }

  #span-collab{
    margin-left: 120px;
    font-weight: bold;
    color: #333333;
  }

  #span-organ{
    margin-left: 100px;
    font-weight: bold;
    color: #333333;
  }

  #span-html{
    margin-left: 80px;
    font-weight: bold;
    color: #333333;
  }

  #span-css{
    margin-left: 80px;
    font-weight: bold;
    color: #333333;
  }

  #span-js{
    margin-left: 100px;
    font-weight: bold;
    color: #333333;
  }

  #span-node{
    margin-left: 100px;
    font-weight: bold;
    color: #333333;
  }

  #span-react{
    margin-left: 100px;
    font-weight: bold;
    color: #333333;
  }

  #span-sql{
    margin-left: 90px;
    font-weight: bold;
    color: #333333;
  }

  #span-mongo{
    margin-left: 100px;
    font-weight: bold;
    color: #333333;
  }


  /* Contact form ========================================================================== */

  .contact-form{
    border-style: groove;
    height: 400px;
    width: 500px;
    position: relative;
    top: 50px;
    margin: auto;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    /* overflow: scroll; */
    display: none;
  }

  h4{
    color: #08aeac;
    border-bottom: dashed;
  }

  /* Portfolio =========================================================================== */

  .portfolio-container{
    border-style: groove;
    height: 500px;
    width: 750px;
    position: relative;
    top: 50px;
    margin: auto;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    overflow: scroll;
    display: none;
  }

  .portfolio-header{
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: dashed darkturquoise;
  }


  .card-img-top{
    height: 190px;
}

.card-text{
    text-align: center;
    color: #ffffff;
    font-size: large;
}

.card-body{
    position: absolute;
    top: 65%;
    left: 0%;
    z-index: 1;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    width: 286px;
    height: 50px;
    padding-top: 10px;
    opacity: .8;
}


.card{
    position: relative;
    z-index: 0;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#row-id{
  padding-bottom: 5%;
}

#row-id2{
  margin-bottom: 5%;
}

.travel-proj{
  left: 50px;
}

.friend-proj{
  left: 50px;
}

.burger-proj{
  left: 130px;
}

.group-proj{
  left: 130px;
}

.store-proj{
  left: 50px;
}

.train-proj{
  left: 130px;
}

.card-img-top{
  border-radius: 5px;
  border-style: outset;
}